body {
    background-color: bisque;
}
#cyndaquil {
    width: 25%;
}
.texto-on-cy {
    margin-top: 10px;
    color: black;
    font-size: 35px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}