#pokedex {
    width: 25%;
}
body {
    /*Esto es para establecer una imagen de fondo y una fuente*/
    background-image: url(img/kanto-map.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.texto-on {
    /*Esto es el texto del encabezado*/
    background-color: rgba(34, 34, 34, 0.7);
    margin-top: 10px;
    color: white;
    font-size: 35px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}
li {
    /*Esto es para hacer que los puntitos de la lista sean negros*/
    margin-left: 20px;
    color: black;
}

a {
    /*Esto es para establecer el color blanco a la lista*/
    color: white;
    text-decoration: none;
}