body {
    /*Esto es para estarblecer un color de fondo*/
    background-color: pink
}
#mew {
    width: 25%;
}
.texto-on-mew {
    /*Esto es para el encabezado de la pagina*/
    margin-top: 10px;
    color: black;
    font-size: 35px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}
p {
    /*Esto es para establecer una fuente y tamaño para todos los parrafos*/
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}
span {
    /*Esto es para estilizar el tipo de pokemon*/
    background-color: palevioletred;
    border-radius: 12px;
    padding: 0.1px;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}
.boton-mew {
    /*Esto es para estilizar el boton de volver al inicio*/
    background-color:red;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 32px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}
a:visited {
    /*Esto es para que la pagina no nos salga subrayada cuando ya la hayamos visitado*/
    color: white;
    text-decoration: none;
}
a {
    /*Esto es para quitar el subrayado de pagina*/
    text-decoration: none;
}