body {
    background-color: pink
}
#mew {
    width: 25%;
}
.texto-on-mew {
    margin-top: 10px;
    color: black;
    font-size: 35px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}
span {
    background-color: palevioletred;
    border-radius: 12px;
    padding: 0.1px;
    text-align: center;
    width: 325px;
    height: 55px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
}
.boton-mew {
    background-color:red;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 0.1px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 325px;
    height: 32px;
    margin: 10px auto 0;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
}